
body{ font-size: 14px; color: #222; font-family: 'Nanum Gothic', sans-serif; }

.inner{ width: 1152px; margin: 0 auto; min-width: 1152px; letter-spacing: -0.05em; }

main{ letter-spacing: -0.05em; }

.blind{ width: 1px; height: 1px; position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; }


/* icon 사용 */

.header .search-area .link-logo
{
    background-image: url(../images/i_seoul_u.png);
}

.header .search-area .btn-search,
.board-gruop .link-more,
.news-area .link-all::after,
.footer .addr-area .cs-box::before,
.ad-area .control-box .prev,
.ad-area .control-box .next,
.ad-area .control-box .autoplay,
.ad-area .control-box .autoplay.active
{
    background-image: url(../images/ico_set.png);
}

.board-gruop .sns-area .sc-title::after,
.board-gruop .sns-area .link-sns.instar,
.board-gruop .sns-area .link-sns.facebook,
.board-gruop .sns-area .link-sns.twitter,
.board-gruop .sns-area .link-sns.blog,
.board-gruop .sns-area .link-sns.youtube,
.board-gruop .sns-area .link-sns.kakao
{
    background-image: url(../images/sns_icon.png);
}

.visual-area .control-box .prev,
.visual-area .control-box .next,
.visual-area .control-box .autoplay
{
    background-image: url(../images/visual_swiper_icon.png);
}